body {
    font-family: 'Open Sans', sans-serif;
    margin: 16px;
    padding: 0;
    user-select: none;
}
#centrat {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
}
#centrat > div {
    margin-bottom: 16px;
}
h2 {
    margin-bottom: 8px;
}
.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imatge {
    max-width: 100px;
    margin-right: 16px;
}
.text {
    flex-grow: 1;
}