body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}
#exterior {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.graella {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
#display {
    font-family: 'Open Sans';
    font-size: 2.5em;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 4px;
    padding: 8px;
    text-align: right;
    height: 128px;
}
#borrar {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}
#calcular {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}
.button {
    align-items: center;
    background: linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(255,255,255,1) 100%);
    border: solid 1px grey;
    border-radius: 5px;
    display: flex;
    margin: 4px;
    padding: 8px;
    cursor: pointer;
    flex-grow: 1;
    justify-content: center;
}
.button:hover {
    background: linear-gradient(0deg, rgba(217,214,205,1) 0%, rgba(255,253,239,1) 100%);
}
.button:active {
    background: linear-gradient(0deg, rgba(255,253,239,1) 0%, rgba(196,194,185,1) 100%);
}